<link rel="preload" href="/fonts/MuseoSans_100-webfont.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/MuseoSans_100_Italic-webfont.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/MuseoSans_300-webfont.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/MuseoSans_300_Italic-webfont.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/MuseoSans_500-webfont.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/MuseoSans_500_Italic-webfont.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/MuseoSans_700-webfont.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/MuseoSans_700_Italic-webfont.woff" as="font" type="font/woff" crossorigin>
