.footer {
    background: linear-gradient(180deg, rgba(44, 44, 44, 1) 0%, rgba(22, 22, 22, 1) 40px);
    // Space from content.
    margin-top: 70px;
    // @media (min-width: $min-desktop) {
    //     margin-top: 20px;
    // }
    padding-top: 5px;
    padding-bottom: 20px;
    @media (min-width: $min-desktop) {
        background: linear-gradient(180deg, rgba(44, 44, 44, 1) 0%, rgba(22, 22, 22, 1) 70px);
        margin-top: 100px;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    background-color: var(--cosent-black);
    color: var(--footer-link-color);

    a {
        color: var(--footer-link-color);
        &:hover {
            color: var(--footer-link-color-hover);
        }
    }
    // Reset lists.
    ul {
        @extend .ul-reset;
        padding-inline-start: 0;
    }

    &__menu-cta-wrapper {
        margin-bottom: 30px;

        @media (min-width: $min-desktop) {
            display: flex;
            align-items: flex-start;
            margin-bottom: 70px;
        }
    }

    &__menu {
        display: none;
        // @media (min-width: $min-desktop) {
        //     flex-shrink: 0;
        //     flex-grow: 1;
        //     display: grid;
        //     grid-template-columns: repeat(auto-fit, minmax(125px, 200px));
        //     gap: 15px;
        //     a {
        //         font-size: 13px;
        //         font-weight: 400;
        //         text-decoration: none;
        //     }
        //     .top-menu-item {
        //         font-size: 15px;
        //         font-weight: 800;
        //         margin-top: 0;
        //         margin-bottom: 20px;
        //     }
        // }
    }

    &__cta {
        @media (min-width: $min-desktop) {
            flex-grow: 0;
        }
        a {
            width: 100%;
            font-size: 20px;
            @media (min-width: $min-desktop) {
                width: max-content;
                margin: 0;
                margin-left: 20px;
            }
            @media (min-width: $desktop-width) {
                margin-left: 40px;
            }
        }
    }

    &__logo-social-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .logo-link {
        display: none;
        @media (min-width: $min-desktop) {
            display: block;

            .logo {
                vertical-align: middle;
            }
        }
    }

    .contact {
        font-size: 0.8em;

        .phone {
            color: var(--cosent-yellow);
            font-weight: 500;
            margin-right: 2em;
        }
    }

    .social-links {
        margin-top: 20px;
        @media (min-width: $min-desktop) {
            margin-top: 0;
        }
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        a {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding: 10px;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    hr {
        color: var(--cosent-grey);
        margin-bottom: 0.5em;
    }

    .copyright {
        font-size: 11px;
        line-height: 150%;
        letter-spacing: 0.2px;
        @media (min-width: $min-desktop) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        a {
            font-weight: 800;
            text-decoration: none;
        }
        &__accessibility-git-wrapper {
            @media (max-width: $mobile-max) {
                margin-top: 20px;
                a {
                    & + a {
                        border-left: 1px solid var(--white);
                        padding-left: 10px;
                    }
                }
                a:first-of-type {
                    margin-right: 10px;
                }
            }
            @media (min-width: $min-desktop) {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-left: 80px;
                text-align: right;
            }
        }
        p {
            margin: 0;
        }
    }
}
