.pagination {
    display: flex;
    list-style: none;
    border-radius: 0.5rem;
    margin: 20px 0;
    padding: 5px 0 0 0;
    justify-content: center;
    //background-color: var(--cosent-yellow);
    border: solid 1px var(--cosent-yellow);
}

.page-link {
    position: relative;
    display: block;
    padding: 0.75rem 1rem;
    @media (max-width: 420px) {
        padding: 0.75rem 0.75rem;
    }
    margin-left: -1px;
    line-height: 1.25;
    //background-color: var(--white);
    margin-top: 5px;
    text-decoration: none;
}

.homepage .page-link,
.listing .page-link {
    //background-color: var(--white);
}

.page-item.disabled .page-link {
    color: var(--grey);
    pointer-events: none;
    cursor: auto;
}

.page-item.active .page-link {
    z-index: 1;
    color: var(--white);
    border: 1px solid var(--cosent-grey);
}
