// General rules of typography that apply across the whole website.
// Set body size.
body {
    font-size: 0.875em; // 14px.
    @media (min-width: 500px) {
        //font-size: 1em; // 16px.
        font-size: 1.2em;
    }
    font-weight: 300;
    color: var(--text-color);
    background: var(--background-color);
    font-family: var(--rounded-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    margin-block-start: 70px;
    margin-block-end: 50px;
    @media (min-width: $desktop-width) {
        margin-block-start: 100px;
        margin-block-end: 80px;
    }
}

h1,
.h1 {
    font-family: var(--condensed-font-family);
    font-weight: 100;
    color: var(--cosent-purple);
    text-transform: uppercase;
    line-height: 112.2%;
    font-size: 44px;
    @media (min-width: $min-desktop) {
        line-height: 115%;
        font-size: 75px;
    }
}

h2,
.h2 {
    font-family: var(--condensed-font-family);
    font-weight: 700;
    color: var(--cosent-purple);
    text-transform: uppercase;
    line-height: 120%;
    font-size: 34px;
    margin-block-start: 50px;
    margin-block-end: 30px;
    @media (min-width: $min-desktop) {
        line-height: 115%;
        font-size: 40px;
    }

    a {
        color: var(--cosent-purple);
    }
}

h3,
.h3 {
    font-family: var(--rounded-font-family);
    font-size: 20px;
    color: var(--cosent-yellow);
    line-height: 150%;
    text-transform: none;
    margin-block-start: 40px;
    margin-block-end: 25px;
    @media (min-width: $min-desktop) {
        font-size: 30px;
    }
}

h4,
.h4 {
    font-family: var(--rounded-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin-block-start: 28px;
    margin-block-end: 18px;
    @media (min-width: $min-desktop) {
        font-size: 20px;
    }
}

h5,
.h5 {
    font-family: var(--rounded-font-family);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-block-start: 25px;
    margin-block-end: 16px;
    @media (min-width: $min-desktop) {
        font-size: 16px;
    }
}

h6,
.h6 {
    font-family: var(--rounded-font-family);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.8px;
    margin-block-start: 20px;
    margin-block-end: 14px;
    @media (min-width: $min-desktop) {
        font-size: 14px;
    }
}

p + p,
ul + p,
ol + p {
    margin-top: 24px;
}

a {
    font-weight: 700;
    color: var(--link-color);
    text-decoration-color: var(--link-color-decoration);
    text-underline-offset: 0.2em;
    &:hover {
        color: var(--link-color-hover);

        #content p &  {
            background-color: var(--black);
        }
    }
}

li {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

blockquote {
    margin-block-start: 30px;
    margin-block-end: 30px;
    border-left: 4px solid var(--primary-400);
    font-size: 16px;
    padding-block-start: 4px;
    padding-block-end: 4px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-left: 20px;
    @media (min-width: $desktop-width) {
        margin-block-start: 50px;
        margin-block-end: 50px;
    }
    @media (min-width: $min-desktop) {
        font-size: 18px;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
        padding-left: 20px;
    }
    p {
        font-style: italic;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }
}

code {
    color: var(--cosent-grey);
    text-wrap: nowrap;
}

pre {
    color: var(--cosent-grey);
    //overflow: scroll;

    &.highlight {
    padding: 20px;
    }
}
