// Define CSS variables
:root {
  --condensed-font-family: "MuseoSans", "Impact", "Arial Black", sans-serif, -apple-system, BlinkMacSystemFont, Roboto,
    Ubuntu;
  --rounded-font-family: "MuseoSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto,
    Ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --cosent-purple: #8c6cd0;  // 4.45:1 on cosent black, 5.17:1 on full black
  --cosent-yellow: #f1b300;
  --cosent-black: #161616;
  --cosent-grey: #a2a4a3;
  --cosent-red: #E75E4C;
  --cosent-green: #83DD4D;
  --cosent-cyan: #1FE7D6;

  --background-color: var(--cosent-black);
  --text-color: var(--white);

  --black: #000000;
  --white: #ffffff;
  --link-color: var(--white);
  --link-color-decoration: var(--cosent-yellow);
  --link-color-hover: var(--cosent-red);
  --menu-link-color: var(--cosent-black);
  --menu-link-color-hover: var(--cosent-purple);
  --footer-link-color: var(--white);
  --footer-link-color-hover: var(--primary-400);
  --gutter: 25px;
  --container-width: 1200px;
  --content-width: 895px;

  //--primary-400: #5aa100; // primary highlight
  //--primary-500: #4d8307; // buttons
  //--primary-600: #03856f; // links
  //--primary-700: #016554; // buttons, links :hover
  //--primary-800: #003c32; // buttons


  --primary-400: var(--cosent-purple); // primary highlight
  --primary-500: var(--cosent-purple); // buttons
  --primary-600: var(--cosent-yellow); // links
  --primary-700: var(--cosent-purple); // buttons, links :hover
  --primary-800: var(--cosent-cyan); // buttons

  --gray-200: #eaecf0;
  --gray-300: #e5e5e5;
  --gray-400: #e4e4e4;
  --gray-600: #b1b1b1;
  --gray-700: #767676;
  --gray-800: #5f6367;

  // Pagefind styles from https://pagefind.app/docs/ui-usage/#customising-the-styles
  --pagefind-ui-text: var(--text-color) !important;
  --pagefind-ui-font: var(--rounded-font-family) !important;
  --pagefind-ui-background: var(--cosent-purple) !important;
  --pagefind-ui-border: var(--cosent-grey) !important;
  --pagefind-ui-primary: var(--text-color) !important;
}

// Define SCSS variables.
$desktop-width: calc(1200px + 25px + 25px);
$min-desktop: 1000px;
$mobile-max: 999px;

// Override non-parametrized pagefind styles
p.pagefind-ui__result-excerpt mark {
  color: var(--black);
  background-color: var(--cosent-yellow);
  padding: 2px;
}
