.toc {
    margin-top: 30px;
    margin-bottom: 30px;
    @media (min-width: $min-desktop) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    a {
        font-weight: 500;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--cosent-yellow);
        }
    }

    li li a {
        color: var(--cosent-yellow);
        font-size: 0.9em;

        &:hover {
            color: var(--link-color-hover);
        }
    }

}
